---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import Card from "@/components/ui/Card.astro";
import Badge from "@/components/ui/Badge.astro";
import { Github, Globe, ArrowUpRight } from "lucide-astro";
import Button from "@/components/ui/Button.astro";
import FeaturedProject from "@/components/FeaturedProject.astro";

const projects = await getCollection("projects");
const featuredProjects = projects.filter((project) => project.data.featured);
const otherProjects = projects.filter((project) => !project.data.featured);
---

<BaseLayout title="Projects" description="Open source projects and experiments.">
  <div class="flex flex-col items-start gap-4 md:flex-row md:justify-between md:gap-8">
    <div class="flex-1 space-y-4">
      <h1 class="inline-block font-heading text-4xl font-bold tracking-tight lg:text-5xl text-gradient">
        Projects
      </h1>
      <p class="text-xl text-muted-foreground">
        Open source libraries, apps, and experiments.
      </p>
    </div>
  </div>

  {/* Bento Grid for Featured Projects */}
  <section class="mt-8 grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
    {featuredProjects.map((project) => (
      <FeaturedProject project={project} />
    ))}
  </section>

  <hr class="my-12 border-border/40" />
  
  <h2 class="mb-6 text-2xl font-bold tracking-tight">All Projects</h2>

  <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
    {
      otherProjects.map((project) => (
        <Card class="flex flex-col justify-between p-6 transition-all hover:border-foreground/20 hover:shadow-sm">
          <div class="space-y-4">
            <h2 class="text-xl font-bold tracking-tight">{project.data.title}</h2>
            <p class="text-muted-foreground">{project.data.description}</p>
            <div class="flex flex-wrap gap-2">
              {project.data.techStack.map((tech) => (
                <Badge variant="secondary" class="text-xs font-normal">
                  {tech}
                </Badge>
              ))}
            </div>
          </div>
          <div class="mt-6 flex gap-4">
            <Button variant="outline" size="sm" class="w-full" href={project.data.repoUrl}>
              <Github class="mr-2 h-4 w-4" />
              GitHub
            </Button>
            {project.data.demoUrl && (
               <Button variant="outline" size="sm" class="w-full" href={project.data.demoUrl}>
                  <Globe class="mr-2 h-4 w-4" />
                  Demo
               </Button>
            )}
          </div>
        </Card>
      ))
    }
  </div>
</BaseLayout>
